<section class="servicos" id="servicos">
  <div class="servicos_container">
      <div class="assistencia">
        <div class="assistencia_container">
          <h2 class="assistencia_titulo">
            <i class='bx bx-brush-alt'></i>
          </h2>
          <h3 class="assistencia_sub_titulo">Assistência</h3>
          <p>Assistencia técnica, manutenção
            preventiva e orientação operacional em sua unidade ou na Matiza
          </p>
        </div>
      </div>
      <div class="manutencao_corretiva">
        <div class="manutencao_corretiva_container">
          <h2 class="manutencao_corretiva_titulo">
            <i class='bx bx-hard-hat' ></i>
          </h2>
          <h3 class="manutencao_corretiva_sub_titulo">Manutenção Corretiva</h3>
          <p>Oferecemos suporte técnico, com técnicos especializados e trinados para
            realizarem as manutenções com agilidade e eficiência
          </p>
        </div>
      </div>
    <div class="manutencao_preventiva">
      <div class="manutencao_preventiva_container">
        <h2 class="manutencao_preventiva_titulo">
          <i class='bx bx-hard-hat' ></i>
        </h2>
        <h3 class="manutencao_preventiva_sub_titulo">Manutenção Preventiva</h3>
        <p>Melhores sua produtividade e evite desgaste prematuro do seu equipamento
          e possívies paradas indesejadas.
        </p>
      </div>
    </div>
    <div class="setup_tecnico">
      <div class="suporte_tecnico_container">
        <h2 class="suporte_tecnico_titulo">
          <i class='bx bx-phone-incoming' ></i>
        </h2>
        <h3 class="suporte_tecnico_sub_titulo">Manutenção Corretiva</h3>
        <p>Oferecemos suporte técnico, com técnicos especializados e trinados para
          realizarem as manutenções com agilidade e eficiência
        </p>
      </div>
    </div>
  </div>
</section>
