<section class="contact-us">
  <div class="empresa-original">
    <div class="empresa-imagem">
      <img src="../../assets/img/logo-branca-2048x634.webp" alt="">
    </div>
    <div class="empresa-content">
      <h2 class="aviso">ATENÇÃO!</h2>
      <p class="aviso-content">Este site é obra de um trabalho acadêmico, do curso de
        Inteligência artificial da PUCPR - matéria de comunicação tomando como base uma empresa real,
        porém, não é o site oficial da empresa. por isso visa somente a implementação de
        conceitos adquiridos durante o aprendizado da matéria, e ficará exposto posteriormente
        como parte do portfólio do Aluno.
        Não tem a finalidade de fazer propaganda ou interferir nas atividades da empresa,
        para isso disponibilizamos abaixo o site real da empresa
      </p>
      <p class="site-original" ><a href="https://matisa.com.br/"><i class='bx bx-link' ></i>matisa.com.br</a></p>
    </div>
  </div>
  <div class="aluno-content">
    <h3 class="aluno-dev" >Desenvolvido por:</h3>
    <p class="aluno-description">Aluno: <span>Rafael Fortunato Dametto</span></p>
    <p class="aluno-description">Instituição: Pontifícia Universidade Católica do Paraná (PUCPR)</p>
    <p class="aluno-description">Curso: Tecnologia em Inteligência Artificial Aplicada</p>
    <p class="aluno-description">Matéria: Comunicação</p>
    <div class="contato-aluno">
      <ul class="contato-aluno-list">
        <li><a href="https://github.com/Caco0"><i class='bx bxl-github' ></i> GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/rafael-fortunato-41303192/"><i class='bx bxl-linkedin-square' ></i> LinkedIn</a></li>
      </ul>
    </div>
  </div>
</section>
<footer class="footer-content">
  <p>Site construído com muito amor por - Rafael Fortunato Dametto <i class='bx bx-happy-heart-eyes' ></i></p>
</footer>
