<section class="contact-us">
  <div class="empresa-original">
    <div class="empresa-imagem">
      <img src="../../assets/img/logo-branca-2048x634.webp" alt="">
    </div>
    <div class="empresa-content">
      <h2 class="aviso">ATENSÃO!</h2>
      <p class="aviso-content">Este site é obra de um trabalho acadêmico, do curso de
        Inteligência artificial da PUCPR - matéria de comunicação tomando como base uma empresa real,
        porém, não é o site oficial da empresa. por isso visa somente a implementação de
        conceitos adquiridos durante o aprendizado da matéria, e ficará exposto posteriormente
        como parte do portfólio do Aluno.
        Não tem a finalidade de fazer propaganda ou interferir nas atividades da empresa,
        para isso disponibilizamos abaixo o site real da empresa
      </p>
      <p class="site-original" ><a href="https://matisa.com.br/"></a>matisa.com.br</p>
    </div>
  </div>
  <div class="aluno"></div>
</section>
<footer class="footer-content">
  <p>Site construido com muito amor por - Rafael Fortunato Dametto</p>
</footer>
