.contact-us{
  display: flex;
  background-color: var(--primary-color);
  width: 100vw;
  height: 60vh;

}
.empresa-original{
  width: 50%;
  justify-content: center;
  align-self: center;

}
.empresa-imagem{
  width: 100%;
  text-align: center;
  height: 25%;
  justify-content: center;
}
.empresa-imagem img {
  width: 300px;
  margin: 2rem;
}
.empresa-content a {
  text-decoration: none;
}
.aviso{
  font-size: 3rem;
}
.aviso-content{
  margin-top: 1.5rem;
  padding: 0 1.5rem;
  line-height: 2rem;
}
.site-original{
  font-size: 3rem;
  margin-top: 1.5rem;
}
.empresa-content{
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color-primary);
}
.aluno-content{
  display: flex;
  line-height: 1.8rem;
  width: 50%;
  padding: 2rem;
  justify-content: center;
  flex-direction: column;
  color: var(--text-color-primary);
}
.contato-aluno{
  display: flex;
}
.contato-aluno-list{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
li{
  text-align: center;
}
a{
  text-decoration: none;
  color: var(--text-color-primary);
}
.aluno-dev{
  font-size: 1rem;
  color: var(--text-color-secondary);
}
.aluno-description{
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
.footer-content{
  background-color: var(--primary-color);
  height: 8vh;
  width: 100VW;
}
.footer-content p{
  color: var(--text-color-primary);
  align-items: center;
  padding: 1.8rem;
  text-align: center;
}

