<header>
  <div class="header-components">
    <img class="header-img" src="../../assets/img/logo-branca-2048x634.webp" alt="Logomarca Matiza">
    <div class="header-nav-pages" >
      <ul><a href="#"> <p><i class='bx bx-home' ></i> EMPRESA</p> </a></ul>
      <ul><a href="#sobre"> <p><i class='bx bx-history'></i> SOBRE</p> </a></ul>
      <ul><a href="#servicos"> <p><i class='bx bxs-traffic-cone' ></i> SERVIÇOS</p> </a></ul>
      <ul><a href="#produtos"> <p><i class='bx bx-briefcase'></i> PRODUTOS</p> </a></ul>
      <ul><a href="#noticias"> <p><i class='bx bx-news' ></i> NOTÍCIAS</p> </a></ul>
    </div>
  </div>
</header>
