
<section id="produtos" class="produtos">
  <div class="costura_ensaque">
    <div class="produtos_lado_a">
      <img src="../../../assets/img/64c8e6f1146dd-300x300.webp" alt="">
      <h3>Projetos Personalizados</h3>
    </div>
    <div class="produtos_lado_b">
      <img src="../../../assets/img/64c8f097ea836-300x300.webp" alt="">
      <h3>Ensaque</h3>
    </div>
  </div>
  <div class="transporte_selagem">
    <div class="produtos_lado_c">
      <img src="../../../assets/img/64c8f0a678460-300x300.webp" alt="">
      <h3>Transporte</h3>
    </div>
    <div class="produtos_lado_d">
      <img src="../../../assets/img/64c8f1305f1c7-300x300.webp" alt="">
      <h3>Peças e Suprimentos</h3>
    </div>
  </div>

</section>
