<section id="sobre" class="sobre">
  <div class="sobre_img">
    <img src="../../../assets/img/história .png" alt="Sobre" class="img-fluid">
    <div class="historia">
      <h2 class="titulo_historia">História</h2>
      <p class="texto_historia">Desde 1959, vem conquistando o mundo com qualidade
        e durabilidade de seus equipamentos para as soluções de ensaques,
        empacotamentos e fechamentos de sacarias em geral.
        Atendemos em diversos seguimentos como setores alimentícios, pet-food,
        grãos, açucareiro, químico, farmacêutico, materiais para construção.
        Com garantia a suporte, assistência técnica qualificada e facilidade em
        adquirir peças de reposição.</p>
    </div>
  </div>
    <div class="missao_visao">
      <div class="missao">
        <h2 class="titulo_missao">Missão</h2>
        <p class="texto_missao">Desenvolver, produzir e comercializar com excelência
          soluções para os processos de empacotamento, trazendo soluções e aumento da
          lucratividade, protegendo e valorizando os negócios de nossos clientes.
        </p>
      </div>
      <div class="visao">
        <h2 class="titulo_visao">Visão</h2>
        <p class="texto_visao">Ampliar o reconhecimento da marca e a qualidade dos
          equipamentos produzidos e desenvolvidos nos diversos mercados em que atuamos.
          E assim se tornar Líder na América Latina no segmento industrial e técnico.
        </p>
      </div>
    </div>
    <div class="valores">
      <h2 class="titulo_valores">Valores</h2>
      <p class="texto_valores">Acreditamos que a excelência em nossos produtos
        e serviços é o diferencial que nos torna um parceiro de sucesso para nossos clientes
        e parceiros. Por isso, nos comprometemos a.
        Qualidade: Compromisso com a qualidade superior em todos os produtos e serviços, buscando a perfeição em cada detalhe.
        Inovação: Constante busca por soluções inovadoras e eficientes, que agreguem valor e diferencial competitivo aos clientes.
        Eficiência: Foco em processos otimizados e eficientes, buscando a melhor relação custo-benefício e a entrega de resultados dentro dos prazos.
      </p>
    </div>
</section>

